header {
    background: $primary-color;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid red;

    img {
        width: 100px;
        border: 2px solid yellow;
    }

    ul {
        padding: 5px;
        list-style: none;
        display: flex;
        gap: 20px;
        border: 2px solid black;

        li {
            color: white;
            cursor: pointer;
            border: 2px solid green;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}